{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "query/additional/available" }}

{{ $builder := $.QueryName }}
{{ $receiver := receiver $builder }}
{{ $annotation := $.Annotations.Available }}

func ({{ $receiver }} *{{ $builder }}) Available() *{{ $builder }} {
	{{- $predPackage := print (lower $.Name) -}}
	return {{ $receiver }}.Where(
		{{ if $annotation.Activation -}}
		{{ $predPackage }}.ActivationEQ(activation.Activated),
		{{ end }}

		{{- if $annotation.SoftDeletion -}}
		{{ $predPackage }}.DeletedAtIsNil(),
		{{ end }}

		{{- if $annotation.Lifespan -}}
		{{ $predPackage }}.Or(
			{{ $predPackage }}.LifespanStartAtIsNil(),
			{{ $predPackage }}.And(
				{{ $predPackage }}.LifespanStartAtNotNil(),
				{{ $predPackage }}.LifespanStartAtLTE(time.Now()),
			),
		),
		{{ $predPackage }}.Or(
			{{ $predPackage }}.LifespanEndAtIsNil(),
			{{ $predPackage }}.And(
				{{ $predPackage }}.LifespanEndAtNotNil(),
				{{ $predPackage }}.LifespanEndAtGTE(time.Now()),
			),
		),
		{{ end }}
	)
}

{{ end }}
